<%= form_tag 'sign_in', class: 'login form-horizontal' do %>
  <div class="login-header modal-header">
    <div class="login-logo">
      <%= image_tag('logo.png', :alt => "logo") %>
    </div>
  </div>
  <div class="login-body modal-body">
    <fieldset class="form-group">
      <label class="col-sm-5 control-label" for="username">User</label>
      <div class="col-sm-7 controls">
        <%= text_field_tag :username, nil, autofocus: true %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <label class="col-sm-5 control-label" for="password">Password</label>
      <div class="col-sm-7 controls">
        <%= password_field_tag :password %>
      </div>
    </fieldset>
  </div>
  <div class="login-footer modal-footer">
    <%= submit_tag 'Sign in', class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
