<h1>Day <%= @day.day %></h1>

<section>
  <h3>Add new activity</h3>
  <%= form_for [@day, @new_activity] do |f| %>
    <%= f.text_field :title, placeholder: 'Title' %>
    <%= f.text_field :description, placeholder: 'Description' %>
    <%= f.text_field :value, placeholder: 'Value', value: 2 %>

    <%= f.submit 'Add activity', class: "btn btn-success btn-sm" %>
    <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#upwork_money_modal_form">
      Бабки дня
    </a>
  <% end %>
</section>

<section>
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Description</th>
      <th>Value</th>
      <th></th>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <% next unless activity.id %>
        <tr>
          <td><%= markdownify activity.title %></td>
          <td><%= markdownify activity.description %></td>
          <td><%= activity.value %></td>
          <td><%= link_to 'Delete', activity, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<%= render 'activities/upwork_money_modal_form' %>
